<div id="snippet-title">
<p>{{viewData.title}} </p>
</div>

<div id="snippet-desc">
<pre>
<code>
{{viewData.description}}
</code>
</pre>
</div>

<div>
{{#if isOwner}}
<div id="edit">
<a href="crud/{{viewData.id}}/edit" class="edit">Edit</a>

<form method="post" action="./crud/{{viewData.id}}/delete">
<input type="hidden" name="id" value="{{viewData.id}}">
<input type="submit" value="Delete" class="delete">
</form>

</div>
{{/if}}
</div>




