<div id="snippet-title">
<b>{{viewData.title}} </b>
</div>

<div id="snippet-desc">
<p>
  <code>
{{viewData.description}}
</code>
</p>
</div>

<div>
{{#if isOwner}}
<button><a href="{{viewData.id}}/edit">Edit</a></button>

<form method="post" action="{{viewData.id}}/delete">
<input type="hidden" name="id" value="{{viewData.id}}">
<input type="submit" value="Delete">
</form>
{{/if}}
</div>




