<h3>{{viewData.title}}</h3>

<form method="post" action="../{{viewData.id}}/update">
<input type="hidden" name="id" value="{{viewData.id}}" />

<textarea id="snippet-description" name="description" value="{{viewData.description}}" rows="4" cols="50">
  {{viewData.description}}
  </textarea>

<input type="submit" value="Update">
</form>

 
