<b>{{viewData.title}} </b>
<br>
{{viewData.description}}

<button><a href="./{{viewData.id}}/edit">Edit</a></button>

<form method="post" action="./{{viewData.id}}/delete">
<input type="hidden" name="id" value="{{viewData.id}}">
<input type="submit" value="Delete">
</form>